
.story{
    width: 400px;
    background-color: beige;
    z-index: 1;
    opacity: 80%;
    margin-top:70px;
    padding: 25px;
    color: black;
    display: inline-block;
    
}
.scrolldown{
    background-color: bisque;
    width: 150px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    /* margin: 20px; */
    color: gray;
}

.scrolldown :hover{
    color: #000;
    
}